openrouter_api_key: "sk-or-v1-INSERT-YOUR-KEY-HERE"
models:
  - "mistralai/mistral-large-2411"
  - "meta-llama/llama-3.3-70b-instruct"
  - "openai/gpt-4o-2024-11-20"
  - "anthropic/claude-3.5-sonnet:beta"
